#services {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.serviceBox {
    display: flex;
    border: 1px solid white;
    padding: 20px 20px;
    height: 250px;
    width: 200px;
}